/*  */
footer {
    text-align: center;
    margin: 3.25rem 0 6rem 0;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*  */
.text-footer {
    color: var(--primary-color);
}

/*  */
.link-portfolio-github {
    color: var(--primary-color);
}

/*  */
.link-portfolio-github:hover {
    color: var(--primary-color);
    font-weight: 600;
    cursor: url('../img/cursor-hover.png'), auto;
}

.nav-desktop {
    display: none;
}
