/*  */
.menu {
    display: flex;
    align-items: center;
}

/*  */
.menu-mobile {
    border-top: 1px solid var(--quaternary-color);
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background-color: var(--terciary-color);
    padding: 0 0.5rem;
}

/*  */
.menu-link.active .menu-icon,
.menu-link.active .menu-text {
    color: var(--primary-color);
    font-weight: 600;
}

/*  */
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text {
    color: var(--primary-color);
    font-weight: 600;
}

/*  */
.menu-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.600rem;
    padding: 1rem 0.05rem;
    transition: transform 0.5s ease-in-out;
}

.menu-link:hover {
    color: var(--quaternary-color);
    transform: scale(1.10);
}

/*  */
.menu-icon, .menu-text {
    color: var(--quaternary-color);
    cursor: url('../img/cursor-hover.png'), auto;
}

/*  */
.menu-icon {
    font-size: 1.3rem;
}

/*  */
.menu-text {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

/*  */
.menu-desktop {
    gap: 1rem;
}
