.container-projetos { /*  */
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem;
}

.title-projetos-main {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.projetos-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.projetos-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-img-projetos {
    width: 100%;
    height: 35vh;
}

.container-infor-projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
}

.card-title {
    font-size: 1.5rem;
}

.card-description {
    font-size: 1.30rem;
}

.card-butons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-butons span {
    text-transform: uppercase;
}